<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/lib/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=gmsnjsxjpkyyktn7rr1o2sabab5180w6jjj7ezceltf69gz9"></script>
    <script>
        tinymce.init({
          selector: '#format-text-area'
        });
    </script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light animated fadeInDown">
    <a class="navbar-brand" href="#">IEEE-Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if (currentuser){%>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" style="margin-right:10px" href="/blog/new">New Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-danger" style="margin-right:10px" href="/logout">logout</a>
          </li>
        <%}%>
        <li class="nav-item active">
          <a class="nav-link" href="http://cs.ieee-zsb.org/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      </ul>
    </div>
  </nav>
