<% include partials/header %>

<div class="row">
  <div class="col-sm-12">
    <h1 style="text-align: center;">Create a New Campground</h1>
  </div>

    <div class="col-md-7 col-sm-10" style=" margin: 25px auto;">
        <form id="newblogform" action="/blog" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input class="form-control" type="text" name="post[header]" placeholder="name" required>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input class="btn btn-primary" type="file" id="image" name="image" accept="image/*" required>
                <!-- <input class="form-control" type="text" name="post[image]" placeholder="image url"> -->
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Main Socity</label>
                    </div>
                    <select form="newblogform" name="post[mainSocity]" class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <% socities.forEach(function(socity){ %>
                            <option value="<%= socity._id %>"><%= socity.name %></option>
                        <% }) %>
                    </select>
                  </div>
            </div>
            <div class="form-group">
                <input class="form-control"  type="text" name="socities" placeholder="Activity" required>
            </div>

            <!-- <div class="form-group">
                <input class="form-control" type="text" name="post[description]" placeholder="description">
            </div> -->
            <div class="form-group">
              <textarea  name="post[description]" id="format-text-area"  ></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a href="/campgrounds" >Go Back</a>
    </div>
</div>

<% include partials/footer %>
