.page-header-img {
  width: 100%;
  height: 100vh;
}
#carousel-header {
  height: 100vh;
}
.carousel-img {
  height: 100vh;
}
#navbar {
  background-color: #00ffff00;
  transition-duration: 0.5s;
  transition-delay: 100ms;
  z-index: 1;
  position: absolute;
  width: 100%;
}

/* ================ about ====================== */
#about {
  height: 100vh;
}
#about-us {
  margin-bottom: 80px;
}
.to-animate {
  opacity: 0;
}
.section-heading {
  margin-top: 70px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.section-heading h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #6173f4;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
.section-heading p {
  margin-top: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}
.section-about-content h3 {
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
  line-height: 1.5;
}
.section-about-content p {
  color: #7f7f7f;
  line-height: 1.5;
}
/* ======================== team ========================= */
#team {
  /* height: 100vh; */
}
.person {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;

  height: 100px;
  text-align: left;
  float: left;
  width: 100%;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.person img {
  margin-top: -60px;
  display: inline-block;
  height: 75%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.person .info {
  display: inline-block;
  margin-left: 10px;
}

.person .info .name {
  font-size: 16px;
}

.person .info .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.row {
  justify-content: space-between;
}

#socities {
  background: #f4f4f4;
}
#socities h3 {
  margin-left: 100px;
}
#socities .box {
  padding: 30px;
  background: #fff;
  text-align: center;
  color: #7f7f7f;
  margin-bottom: 70px;
  position: relative;
}
#socities .box .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
}
#socities .box .icon > span {
  display: table-cell;
  vertical-align: middle;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
#socities .box .icon > span i {
  font-size: 40px;
  /* color: #fff !important; */
  margin: 0;
  padding: 0;
}
/* #socities .box .icon.colored-1 {
  background: #2aaf67;
}
#socities.box .icon.colored-2 {
  background: #00bff3;
}
#socities .box .icon.colored-3 {
  background: #f26522;
}
#socities .box .icon.colored-4 {
  background: #e52b50;
}
#socities .box .icon.colored-5 {
  background: #2fc5cc;
}
#socities .box .icon.colored-6 {
  background: #6173f4;
} */
#socities .box .step-number {
  font-size: 16px;
  display: block;
  color: #d1d1d1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
#socities .box h3 {
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
}
